<h1 style="border-bottom: 1px solid black;">DANH SÁCH ALBUMs</h1>

<div class="container">
	<% @albums.each do |row| %>
	<div class="row albumitem">
		<div class="coverphoto">
			<a href="/albums/<%=row['album_id']%>">
				<img class="coverimage" alt="Ảnh Cover" src="<%= asset_path( row['album_cover'] ) %>"></a>
		</div>
		<div class="infoalbum">
			<a href="/albums/<%=row['album_id']%>"><p class="albumname"><%=row['album_name']%></p></a>
			<p class="usercreate"><span class="fa fa-user">&nbsp;&nbsp;&nbsp;Người tạo: <%=row['user_name']%></span></p>
			<p class="viewcount"><span class="fa fa-eye">&nbsp;&nbsp;&nbsp;Lượt views: <%=row['album_view']%></span></p>

		</div>
	</div>
	<% end %>
	<br>

	
</div>