<!DOCTYPE html>
<html>
  <head>
    <title>Mobile Blog</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script
  src="https://code.jquery.com/jquery-2.2.4.min.js"
  integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
  crossorigin="anonymous"></script>
  </head>

  <body>
  
  	<nav  class="navbar navbar-default nav-custom" style="background-color:black;color: white;" role="navigation">
  		<div class="container-fluid">
  			<!-- Brand and toggle get grouped for better mobile display -->
  			<div class="navbar-header mainheader">
  				<button type="button" class="navbar-toggle maintoggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
  					<span class="sr-only">Toggle navigation</span>
  					<span class="icon-bar"></span>
  					<span class="icon-bar"></span>
  					<span class="icon-bar"></span>
  				</button>
  				
  				<a class="navbar-brand" href="/"><img  src="https://assets.razerzone.com/eeimages/razer_pages/20991/razer-logo-slide-3.png" width="40px" height="30px" ></a>
  			</div>
  	
  			<!-- Collect the nav links, forms, and other content for toggling -->
  			<div class="collapse navbar-collapse navbar-ex1-collapse" id="mainbar">
  				<ul class="nav navbar-nav">
  					<li><a href="/">Home</a></li>
  					<li><a href="/albums">Albums</a></li>
  					<li><a href="/blogs">Blogs</a></li>
  					<li><a href="/about">About</a></li>

  				</ul>
  				
  				<ul class="nav navbar-nav navbar-right">

            <% if session[:current_user].nil? %>

              
              <li><a href="/login">Login</a></li>
              <li><a href="/signup">Signup</a></li>

            <% else%>

            <div style="padding-top: 7px;" class="dropdown">
              <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown"><%=session[:current_user]["user_name"]%>   
              <span class="caret"></span></button>
              <ul class="dropdown-menu">
                <%= link_to "Logout", logout_path,method: :delete,class: 'nav-link' %>
                
              </ul>
          </div>
            <%end%>

  					
  				</ul>
  			</div><!-- /.navbar-collapse -->
  		</div>
  	</nav>


  	<div class="container-fluid">
  		<div class="row">
  			<div class="leftmenu col-xs-3 col-sm-3 col-md-3 col-lg-3">
            <nav class="navbar navbar-inverse sidebar" role="navigation">
              <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header leftnav">
                  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-sidebar-navbar-collapse-1">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  </button>
                  
                </div>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse sidebarnav" id="bs-sidebar-navbar-collapse-1">
                  <ul class="nav navbar-nav">
                    <li><a href="/">Home<span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-home"></span></a></li>
                    <li ><a href="/albums">Albums<span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-user"></span></a></li>
                    <li ><a href="/blogs">Blogs<span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-envelope"></span></a></li>
                    <li ><a href="/about">About<span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-user"></span></a></li>
                                    
                  </ul>
                </div>
              </div>
            </nav>
  			</div>
  			<div class="main col-xs-9 col-sm-9 col-md-9 col-lg-9">
  				 <%= yield %>
  			</div>
  		</div>
  	</div>
   

    <footer>
    	<div class="container-fluid" >
    		<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
    			<h1>Mobile Blog</h1>
    			<p>Cung cấp thông tin mới nhất về thế giới Smartphone.</p>
    			<p>Design by Techz group</p>
    			<p>Copyright &copy; 2017-2018. All right reserved</p>
    		</div>
    		<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
    			<h1>Truy cập nhanh</h1>
    			<div style="padding-left: 80px;">
	    			<a class="linkfooter" href="/"><p>Home</p></a>
	    			<a  class="linkfooter" href="/"><p>Albums</p></a>
	    			<a  class="linkfooter" href="/"><p>Blog</p></a>
	    			<a  class="linkfooter" href="/about"><p>About</p></a>
    			</div>
    		</div>
    		<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
    			<h1>Thông tin liên hệ</h1>
    			<p>Email: mobileblog@gmail.com</p>
    			<p>Phone: 0126 519 0526</p>
    			<p>Address: 227 Nguyễn Văn Cừ, Quận 5, TP Hồ Chí Minh</p>
    		</div>
    	</div>
    </footer>

  </body>
</html>
